@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Poppins:wght@300&display=swap');
.headerMain {
    font-family: 'Poppins', sans-serif !important;
}

.headerSub{
font-family: 'Nunito', sans-serif !important;
}

.bankNumber{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    letter-spacing: 4px;
}

.cardBG{
    border: .1px solid grey;
}

.balance{
    font-family: 'Nunito', sans-serif !important;
    font-weight: 300;
    margin-left: 10px;
    font-size: 15px;
}

.amount{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 100;
    margin-left: 10px;
    letter-spacing: 2px;
    font-size: 25px;
    max-height: 20px;
}

.MuiListItem-root{
    padding: 0 !important;
     
}


/* UI Coloring */

body{
    background-color: #F5F7FE;
}